@font-face {
   font-family: "icomoon";
   src: url("../fonts/iconfont/icomoon.eot?yr2gws");
   src:
      url("../fonts/iconfont/icomoon.eot?yr2gws#iefix") format("embedded-opentype"),
      url("../fonts/iconfont/icomoon.ttf?yr2gws") format("truetype"),
      url("../fonts/iconfont/icomoon.woff?yr2gws") format("woff"),
      url("../fonts/iconfont/icomoon.svg?yr2gws#icomoon") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icomoon" !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
   content: "\e937";
}
.icon-trending:before {
   content: "\e938";
}
.icon-piece-of-pie:before {
   content: "\e939";
}
.icon-note:before {
   content: "\e93a";
}
.icon-abacus:before {
   content: "\e920";
}
.icon-bag:before {
   content: "\e921";
}
.icon-board:before {
   content: "\e922";
}
.icon-building:before {
   content: "\e923";
}
.icon-calendar:before {
   content: "\e924";
}
.icon-chat:before {
   content: "\e925";
}
.icon-chess:before {
   content: "\e926";
}
.icon-deal:before {
   content: "\e927";
}
.icon-diagram:before {
   content: "\e928";
}
.icon-fire1:before {
   content: "\e929";
}
.icon-graph:before {
   content: "\e92a";
}
.icon-histogram:before {
   content: "\e92b";
}
.icon-human:before {
   content: "\e92c";
}
.icon-key:before {
   content: "\e92d";
}
.icon-news:before {
   content: "\e92e";
}
.icon-pencil:before {
   content: "\e92f";
}
.icon-pipe:before {
   content: "\e930";
}
.icon-rock:before {
   content: "\e931";
}
.icon-rocket:before {
   content: "\e932";
}
.icon-send1:before {
   content: "\e933";
}
.icon-settings:before {
   content: "\e934";
}
.icon-team:before {
   content: "\e935";
}
.icon-user:before {
   content: "\e936";
}
.icon-drop:before {
   content: "\e918";
}
.icon-hryvnia:before {
   content: "\e916";
}
.icon-send:before {
   content: "\e913";
}
.icon-clip:before {
   content: "\e914";
}
.icon-file:before {
   content: "\e915";
}
.icon-add:before {
   content: "\e901";
}
.icon-arrow-back:before {
   content: "\e902";
}
.icon-arrow-back-2:before {
   content: "\e903";
}
.icon-arrow-down:before {
   content: "\e904";
}
.icon-arrow-right:before {
   content: "\e905";
}
.icon-delete:before {
   content: "\e906";
}
.icon-fire:before {
   content: "\e90b";
}
.icon-gear:before {
   content: "\e90d";
}
.icon-guard:before {
   content: "\e90e";
}
.icon-logo:before {
   content: "\e90f";
}
.icon-plus:before {
   content: "\e910";
}
.icon-search:before {
   content: "\e911";
}
.icon-time:before {
   content: "\e912";
}
.icon-Shape:before {
   content: "\e91e";
}
.icon-x-cross:before {
   content: "\e91f";
}
.icon-refresh:before {
   content: "\e91d";
}
.icon-union:before {
   content: "\e91c";
}
.icon-link:before {
   content: "\e919";
}
.icon-chevron-left:before {
   content: "\e91a";
}
.icon-chevron-right:before {
   content: "\e91b";
}
.icon-notification:before {
   content: "\f06a";
}
.icon-chevron-down:before {
   content: "\e90c";
}
.icon-image:before {
   content: "\e90a";
}
.icon-remove:before {
   content: "\e917";
}
.icon-pen:before {
   content: "\e908";
}
.icon-check:before {
   content: "\e900";
}
.icon-log-out:before {
   content: "\e907";
}
.icon-download1:before {
   content: "\e909";
}
